{% extends 'personas/base.html' %}

{% block content %}
    <h1 class="text-success">Nombre:</h1>
    <h2 class="text-info">{{persona.nombre}}</h2>
    <h1 class="text-success">Telefono:</h1>
    <h2 class="text-info">{{persona.telefono}}</h2>
    <h1 class="text-success">Fecha:</h1>
    <h2 class="text-info">{{persona.direccion}}</h2>
    <h1 class="text-success">Nombre:</h1>
    <h2 class="text-info">{{persona.correo}}</h2>
    <h1 class="text-success">Nombre:</h1>
    <h2 class="text-info">{{persona.fecha_nacimiento}}</h2>
{% endblock %}
